boto3~=1.19.10
pymongo~=3.12.1
Flask~=2.0.2
Werkzeug~=2.0.2
dnspython~=2.1.0
nltk~=3.6.5
textblob~=0.17.1
botocore~=1.22.10
keyring~=18.0.1
setuptools==66.0.0
fitz~=0.0.1.dev2
gensim~=4.1.2
google-cloud-storage
spacy~=3.2.1
Pillow~=8.0.0
gunicorn==19.9.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz#egg=en_core_web_sm
PyPDF2~=1.27.7