<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Machine</title>
	<link rel="stylesheet" href="static/src/scss/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="static/src/scss/bootstrap.min.css" rel="stylesheet">
    <link href="static/src/scss/templatemo-xtra-blog.css" rel="stylesheet">
<!--

TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
                <h1 class="text-center">Digital Machine ML-OCR</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active"><a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item"><a href="/api_scrapper" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Analyse/Scrape URL
                    </a></li>
                    <li class="tm-nav-item"><a href="/" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Team
                    </a></li>
                    <li class="tm-nav-item"><a href="/" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                </ul>
            </nav>
            <p class="tm-mb-80 pr-5 text-white">
                This Platform is for uploading any type and multiple documents which will be processed and
                displayed to you with various features.
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">

            <div class="row tm-row">
              <form method='post'>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                    <p class="text-sm mb-0">General Info</p>
                    <p class="text-sm mb-0">Pages: {{output_data['pages']}}</p>
                    <p class="text-sm mb-0">About: {{output_data['analysis']}}</p>

                    <hr>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/summary.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Summarization</h2>
                    </a>
                    <div class="feature-content">
                                        <table>
                                            {%for i in output_data["summarization"]%}
                                                <li>{{i}}</li>
                                            {%endfor%}
                                        </table>
									</div>
                    <hr>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            <img src="static/src/images/segmentation.png" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Segmentation</h2>
                    </a>
                    <table>
                                {%for i in output_data["segmentation"]%}
                                    <li>{{i}}</li>
                                {%endfor%}
                            </table>
                    <hr>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/sentiment.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Sentiment Analysis</h2>
                    </a>
                        <table>
                                        {% for key, value in output_data.items() %}
                                           <tr>
                                                <th> {{ key }} </th>
                                                <td> {{ '%0.2f'|format(value|float) }} </td>
                                           </tr>
                                        {% endfor %}
                                        </table>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/img-04.jpg" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Topic Modelling</h2>
                    </a>
                    <p class="tm-pt-30">
                        {{output_data['topic_model']}}
                    </p>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/similarity.png" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Similarity</h2>
                    </a>
                    <p class="text-sm mb-0">{{output_data['similarity']}}</p>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="static/src/images/chronology.png" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Chronology</h2>
                    </a>
                    <p class="tm-pt-30">
                        Pending
                    </p>
                </article>
                </form>
            </div>

            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2022 Digital Machine
                </div>
            </footer>
        </main>
    </div>
    <script src="static/src/js/jquery.min.js"></script>
    <script src="static/src/js/templatemo-script.js"></script>
</body>
</html>
